<ion-header>
  <ion-toolbar>
    <ion-title>
      G00472929
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToFavourites()">
        Fav
      </ion-button>

      <ion-button (click)="goToAbout()">
        About
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <!-- simple search box for ingredients -->
  <ion-item>
    <ion-label position="stacked">Enter ingredients</ion-label>
    <ion-input
      [(ngModel)]="ingredientsText"
      placeholder="example: pasta, tomato, cheese">
    </ion-input>
  </ion-item>

  <ion-button expand="block" style="margin-top: 10px;" (click)="searchRecipes()">
    SEARCH
  </ion-button>

  <p *ngIf="isLoading">Loading recipes from api...</p>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>

  <!-- api results -->
  <ion-card *ngFor="let r of apiRecipes">

    <ion-img [src]="r.image"></ion-img>

    <ion-card-header>
      <ion-card-title>{{ r.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button size="small" (click)="openDetails(r)">
        Details
      </ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
